<div class="container">
  <%= form_for @user do |f| %>
  <p class="form-group row">
    <%= f.label :name, class: 'col-sm-2 col-form-label' %>
  </p>  
  <p>
    <%= f.text_field :name, autofocus: true, class: "form-control"  %>
  </p>

  <%= f.submit %>
<% end %>
</div>