<div class="container">
  <div class="form-group" >
    <%= form_for @user do |f| %>
      <p>
        <%= f.label :name%>
      </p>  
      <p>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter Name"  %>
      </p>

      <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
    <% end %>
  </form>
</div>
