<div class="container">
  <h1 class="display-4 text-center"><%= pluralize(@events.size, 'Event') %></h1>

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card mt-3" style="width: 18rem;">
          <div class="card-body ">
            <h5 class="card-title"><%=link_to event.name, event %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.location %></h6>
            <p class="card-text"><%= truncate(event.description, length: 40, separator: ' ') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

